<div class="mt-4">
    <div class="card text-center">
        <div class="card-header">
            <br>
        </div>
        <div class="card-body">
            <h3 class="card-title">Tạo hóa đơn thành công</h3>
            <p class="card-text">Họ Và Tên: {{dulieu.fullname}}</p>
            <p class="card-text">Số Điện Thoại: {{dulieu.phone}}</p>
            <p class="card-text">Địa Chỉ: {{dulieu.address}}</p>
            <p class="card-text">Sản Phẩm: {{dulieu.sanpham}}</p>
            <p class="card-text">Model: {{dulieu.model}}</p>
            <p class="card-text">Giá Tiền: {{formatMoney dulieu.money}}</p>
            <p class="card-text">Phương Thức: {{dulieu.phuongthuc}}</p>
            
            <a href="/me/hoa-don" class="btn btn-primary">Quay về hóa đơn của bạn</a>
        </div>
        <div class="card-footer text-muted">
            <br>
        </div>
    </div>
</div>